{% extends 'base.html' %}

{% block content %}
  <h2>Ingredient List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity Available</th>
        <th>Price per Unit</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.product_name }}</td>
          <td>{{ ingredient.quantity }}</td>
          <td>{{ ingredient.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
